[Unit]
Description=Gpio Service
After=syslog.target nss-lookup.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/henHouse/henHouseBoardBackendApi
Restart=always
ExecStart=/usr/bin/python3 /home/pi/henHouse/henHouseBoardBackendApi/server.py
RestartSec=5

[Install]
WantedBy=default.target

