[Unit]
Description=Hen house board backend api service
After=syslog.target network.target nss-lookup.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/henHouse/henHouseBoardBackendApi
ExecReload=/home/pi/.local/bin/circusctl reload
ExecStart=/home/pi/.local/bin/circusd  circus.ini
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
[Unit]
Description=Gpio Service
After=syslog.target network.target nss-lookup.target
